:root {
  --primary-text-color: #252b42;
  --accent-text-color: #737373;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: Montserrat;
  background-color: #fafafa;
  color: var(--primary-text-color);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1046px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-bottom: 80px;
}
/* ========header======= */

.header_container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
  z-index: 50;
}
.logo {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
}
.menu_nav {
  padding-left: 132px;
}
.menu_list {
  display: flex;
  align-items: center;
}
.menu_item:not(:last-child) {
  margin-right: 22px;
}
.menu_link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;

  text-align: center;
  letter-spacing: 0.2px;

  color: var(--accent-text-color);
}

.hero {
  width: 511px;
  height: 400px;
}
.hero_section {
  position: relative;
  z-index: 2;
}
.hero_bg {
  position: absolute;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 115%;
  top: 0;
  left: 0;

  z-index: 0;
}
.hero_title {
  font-weight: 800;
  font-size: 58px;
  line-height: 1.38;

  letter-spacing: 0.2px;
  padding-bottom: 35px;
}
.hero_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: var(--accent-text-color);
  padding-bottom: 35px;
}
.hero_list--link {
  display: flex;
  align-items: center;
}
.hero_link {
  margin-right: 10px;
}
.hero_link--orange {
  color: white;
  padding: 10px 36px;
  background: #ff7b47;
  border-radius: 37px;
}
.hero_link--transparent {
  color: #0d5c63;
  padding: 10px 36px;
  border: 1px solid #0d5c63;
  box-sizing: border-box;
  border-radius: 37px;
}

/* ========About======= */
.section_about {
  position: relative;
  z-index: 2;
}
.about_list {
  display: flex;
  justify-content: space-around;
}
.about_item {
  min-width: 328px;
  min-height: 242px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 40px;
  background-color: #ffffff;
  box-shadow: 0px 13px 19px 0px #00000012;
}
.about_item--color {
  background-color: #0d5c63;
}

.about_item:not(:last-child) {
  margin-right: 30px;
}
.about_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 10px;
  letter-spacing: 0.1px;
}
.about_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: var(--accent-text-color);
}
.about_title--color,
.about_text--color {
  color: #ffffff;
}
.about_icon--bag,
.about_icon--shop {
  fill: #0d5c63;
  width: 48px;
  height: 42px;
  margin-bottom: 14px;
}
.about_icon--book {
  fill: #ffffff;
  width: 48px;
  height: 38px;
  margin-bottom: 14px;
}

/* ========Achivments========= */

.section_title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.section_text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: var(--accent-text-color);
  margin-bottom: 50px;
}
.achievements_list {
  display: flex;
}
.achievements_item {
  width: 238px;
  height: 209px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.achievements_item:not(:last-child) {
  margin-right: 30px;
}
.achievements_stat {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.achievements_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: var(--accent-text-color);
}
.achievements_icon--community {
  fill: #0d5c63;
  width: 48px;
  height: 44px;
  margin-bottom: 10px;
}
.achievements_icon--vector {
  fill: #0d5c63;
  width: 48px;
  height: 26px;
  margin-bottom: 20px;
}
.achievements_icon--achivment {
  fill: #0d5c63;
  width: 36px;
  height: 48px;
  margin-bottom: 10px;
}
.achievements_icon--bag {
  fill: #0d5c63;
  width: 48px;
  height: 42px;
  margin-bottom: 14px;
}

/* ========Practice======= */
.practice_container {
  padding-top: 125px;
}
.practice_list {
  display: flex;
}
.practice_item {
  width: 238px;
  height: 341px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.practice_item:not(:last-child) {
  margin-right: 35px;
}
.practice_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.1px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 60px;
  margin-top: 30px;
}
.practice_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  margin-left: 30px;
  margin-right: 26px;
  margin-bottom: 50px;
  color: var(--accent-text-color);
}
.practice_text--media {
  margin-bottom: 30px;
}

/* =======who we are========= */
.whowe_section {
  padding-top: 100px;
}
.whowe_section--text {
  padding-bottom: 100px;
}
.whowe_content--container {
  display: flex;
}
.whowe_content {
  padding-left: 120px;
}
.whowe_content--title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;

  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.whowe_content--text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: var(--accent-text-color);
  margin-bottom: 50px;
}
.whowe_item--title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.1px;
  margin-bottom: 5px;
}
.whowe_item--text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-text-color);

  letter-spacing: 0.2px;
}
.whowe_item {
  position: relative;
}
.whowe_icon--community {
  position: absolute;

  width: 30px;
  height: 30px;
  top: 0;
  left: -15%;
  fill: #ff7b47;
}
.whowe_icon--speed {
  position: absolute;

  width: 30px;
  height: 30px;
  top: 0;
  left: -15%;
  fill: #ff7b47;
}
